/* https://fontawesome.com/icons/真的很好用，用的时候在html中加入最新版引用或者
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 */
*{
    margin: 0;
    padding: 0;
}
:root{
    --bg:rgb(224, 225, 136);
}
body{
    display:flex;
    justify-content: center;
    min-height: 100vh;
    background: var(--bg);
}
ul{
    position: relative;
    display: flex;
    gap: 50px;
}

ul li{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

ul li::before{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 20px var(--bg),
    0 0 0 22px var(--clr);
    transition: 0.5s;
}
ul li:hover::before{
    inset:15px;
}
ul li::after{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
    transition: 0.5s;
}
ul li hover::after{
    inset:-10px;
    transform: rotate(0deg);
}
ul li a{
    position: relative;
    text-decoration: none;
    z-index:10;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li a i{
    font-size: 2em;
    transition:0.5s;
    color:var(--clr);
}
ul li:hover a i{
    color:var(--clr);
    transition: translateY(-40%);
}
ul li a span{
    position:absolute;
    font-family: concolas;
    color: var(--clr);
    opacity: 0;
    transition:0.5s;
    transform: scale(0) translateY(200%);
}
ul li:hover a span{
    opacity: 1;
    transform: scale(1) translateY(100%)
}
ul li:hover a i,
ul li:hover a span{
    filter:drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
}
.div_all {
    width: 180px;
    height: 200px;
    top: 100px;
    left: 100px;
    position: absolute;
    background: url("../img/img_1.png");
    flex-direction: row;
}

.div_text {
    width: 140px;
    position: relative;
    left: 15px;
    top: 42px;
}

.text1 {
    width: 140px;
    text-align: right;
    background-color: white;
}

.div_caculator {
    width: 160px;
    height: 116px;
    position: relative;
    left: 15px;
    top: 50px;
}

.div_search {
    width: 160px;
    height: 116px;
    position: relative;
    left: 15px;
    top: 50px;
}

.div_equation {
    width: 160px;
    height: 116px;
    position: relative;
    left: 15px;
    top: 50px;
}

.div_board {
    width: 160px;
    height: 116px;
    position: relative;
    left: 15px;
    top: 50px;
}

.div_GPT {
    width: 160px;
    height: 116px;
    position: relative;
    left: 15px;
    top: 50px;
}

.div_video {
    width: 160px;
    height: 116px;
    position: relative;
    left: 15px;
    top: 50px;
}

input[type="button"] {
    width: 30px;
    margin-right: 5px;
    border-radius: 10px;
    background: goldenrod;
}

input[type="button"]:hover {
    background-color: cornflowerblue;
    border: 2px solid;
}

input[type="widebutton"] {
    width: 45px;
    margin-right: 5px;
    border-radius: 10px;
    background: rgb(206, 218, 32);
}

input[type="widerbutton"] {
    width: 90px;
    margin-right: 5px;
    border-radius: 10px;
    background: rgb(32, 218, 203);
}

input[type="longbutton"] {
    width: 155px;
    margin-right: 5px;
    border-radius: 10px;
    background: rgb(32, 218, 203);
}

input[type="shorttext"] {
    width: 120px;
    text-align: right;
    background-color: white;
}

input[type="middletext"] {
    width: 110px;
    text-align: right;
    background-color: white;
}

#solveButton {
    width: 150px;
}

#unlock {
    width: 150px;
}